table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
body {
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif";
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
}
#main {
  font-size: 16px;
  line-height: 1.8;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.35;
}
#main h6,
#main h5 {
  font-size: 18px;
}
#main p,
#main pre,
#main ul,
#main ol,
#main dl,
#main form,
#main hr,
#main table,
#main blockquote {
  margin-bottom: 1.2em;
}
#main img {
  display: block;
  max-width: 100%;
  height: auto;
}
#main a {
  text-decoration: underline;
}
#main a:hover {
  text-decoration: underline;
  color: #468c54;
}
#main blockquote {
  margin: 1em 0 1em 0;
  padding: 0 0 0 1.6em;
  border-color: #44f;
}
#main blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
}
#main blockquote small:before {
  content: '\2014 \00A0';
}
#main pre {
  font-size: 14px;
  border: none;
  border-radius: 0;
  background-color: #fafbfc;
}
#main code {
  color: inherit;
}
#main hr {
  border-top: 1px solid #e5e5e5;
}
#main li ul,
#main li ol {
  margin-bottom: 0.8em;
}
#main table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
#main table > thead > tr > th,
#main table > tbody > tr > th,
#main table > tfoot > tr > th,
#main table > thead > tr > td,
#main table > tbody > tr > td,
#main table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
#main table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
#main table > caption + thead > tr:first-child > th,
#main table > colgroup + thead > tr:first-child > th,
#main table > thead:first-child > tr:first-child > th,
#main table > caption + thead > tr:first-child > td,
#main table > colgroup + thead > tr:first-child > td,
#main table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
#main table > tbody + tbody {
  border-top: 2px solid #ddd;
}
#main table .table {
  background-color: #fff;
}
#main table > thead > tr > th,
#main table > tbody > tr > th,
#main table > tfoot > tr > th,
#main table > thead > tr > td,
#main table > tbody > tr > td,
#main table > tfoot > tr > td {
  border: 1px solid #ddd;
}
#main table > thead > tr > th,
#main table > thead > tr > td {
  border-bottom-width: 2px;
}
#main table th {
  background-color: #fbfbfb;
  font-weight: normal;
}
#main table thead th {
  background-color: #f1f1f1;
}
#main,
header {
  margin: auto;
  max-width: 800px;
  margin-bottom: 30px;
}
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #44f;
}
header {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 40px;
}
header a {
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  display: inline-block;
  border-right: 1px solid #ccc;
}
header a.last {
  border: 0;
}
header a.active {
  color: #000;
}
header .slogan {
  margin-top: 20px;
}
.logo {
  text-align: center;
}
footer {
  margin: auto;
  max-width: 600px;
  margin-bottom: 5px;
  text-align: center;
}
h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor {
  display: inline-block;
  margin-left: 5px;
  color: #ccc;
}
.buttons {
  text-align: center;
  margin: 0;
  padding: 0;
}
.buttons a {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background: #eee;
}
.buttons a:hover {
  background: #ffe;
}
.toc,
.toc ul {
  padding-left: 40px;
  margin: 0 0 10px 0;
  list-style: decimal outside none;
  color: #000;
}
.toc ul {
  padding-left: 20px;
}
code:not([class*="language-"]) {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 4px;
  display: inline-block;
  line-height: 125%;
  margin: 0 2px;
}
.prev-next {
  text-align: center;
  margin-top: 40px;
}
li .tagline {
  display: block;
  margin-bottom: 5px;
}
.fork-and-edit {
  background: url("../img/github.gif") no-repeat scroll 0 0 transparent;
  font-style: italic;
  height: 40px;
  margin: 40px auto 0;
  max-width: 580px;
  padding-top: 5px;
  padding-left: 40px;
}
/* ==|== media queries ====================================================== */
@media (max-width: 800px) {
  body {
    margin-left: 15px;
    margin-right: 15px;
  }
}
